VITE_SUPABASE_URL=https://aazhusdaxwlrprxmnkgm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhemh1c2RheHdscnByeG1ua2dtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MzMxMDksImV4cCI6MjA5MDEwOTEwOX0.V8uA01ZAeWFh03pNFVryXr1FuJn3m_bPnhtHduA-FaM
# VITE_STRIPE_PUBLISHABLE_KEY=pk_live_xxx
